<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_car_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartParking"
        tools:targetApi="31">

        <!-- Splash Screen Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Activities -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgotPasswordActivity" />

        <!-- Home Page Activity -->
        <activity android:name=".HomePageActivity" />

        <!-- Registration & Booking of Slot -->
        <activity android:name=".BookingActivity" />

        <!-- Booking & Payment Activity -->
        <activity android:name=".BookingsPaymentActivity"/>

        <!-- Settings Activity -->
        <activity android:name=".SettingsActivity"/>

        <!-- Help & About Us Activity -->
        <activity android:name=".HelpAboutActivity"/>

        <!-- Logout Activity -->
        <activity android:name=".LogoutActivity"/>

        <!-- Receipt Activity -->
        <activity android:name=".ReceiptActivity"/>

        <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>